.container{
  margin-left: 22%;
  margin-right: 22%;
    }
.back{
        background-color: rgb(48, 96, 151);
        background-image: url(img/pattern.png);
        padding-right: 60%;
    }   
.sub{
        color: gray;
        margin-bottom: 10px;
    }
h1{
        margin-bottom: 2px;
    }
  
.container ul{
 padding-left: 2%;
}

table td{
    width: 15%;
}

.rowhead{
    background-color: rgb(79, 119, 228);
    color: white;

}
table {
    border-collapse: collapse;
  }

.rowblue{
    background-color: rgb(79, 173, 228);
  }

