.container{
  margin: 20%;
    }
.back{
        background-color: rgb(48, 96, 151);
        background-image: url(img/pattern.png);
        padding-right: 60%;
    }   
.sub{
        color: gray;
        margin-bottom: 10px;
    }
h1{
        margin-bottom: 2px;
    }
  
.container ul{
 padding-left: 2%;
}

