
body{
    margin: 0;
}
.container{
  margin-left: 22%;
  margin-right: 22%;
    }
.back{
        background-color: rgb(48, 96, 151);
        background-image: url(img/pattern.png);
        height: 100px;
    }  
.blue {
    color: rgb(10, 167, 240);
 } 
.sub{
        color: gray;
        margin-bottom: 10px;
    }
h1{
        margin-bottom: 2px;
    }
  
.container ul{
 padding-left: 2%;
}

table td{
    width: 15%;
}

.rowhead{
    background-color: rgb(79, 119, 228);
    color: white;

}
table {
    border-collapse: collapse;
  }

.rowblue{
    background-color: rgb(79, 173, 228);
  }
 h3{
    color: rgb(117, 116, 116, 0.73);
 }

 .monitor{
    color: white;
    background-image: url(img/monitor.jpg);
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
   background-size: cover;
 } 

 h4{
  padding-top: 5%;
  padding-left: 5%;
 }

 .graph{
    color: white;
    background-image: url(img/graph.jpg);
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    background-size: cover;
 }

.logo{
    width: 8%;
    height: 8%;
    margin-left: 22%;
    padding-top: 30px;
 }
 .description{
    font-size: 10px;
 }

 .backyellow{
    background-color: yellow;
 }